<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>freemarker</servlet-name>
        <servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>
        <init-param>
            <!-- 模板路径 -->
            <param-name>TemplatePath</param-name>
            <!-- 默认在webapp⽬录下查找对应的模板⽂件 -->
            <param-value>/</param-value>
        </init-param>
        <init-param>
            <!-- 模板默认的编码：UTF-8 -->
            <param-name>default_encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </servlet>
    <!-- 处理所有以.ftl结尾的⽂件；ftl是freemarker默认的⽂件后缀 -->
    <servlet-mapping>
        <servlet-name>freemarker</servlet-name>
        <url-pattern>*.ftl</url-pattern>
    </servlet-mapping>
</web-app>